/* Dish Card css file */

.dish-item-img-container {
  position: relative;
}

.add-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 35px;
  cursor: pointer;
}

.dish-item-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--secondary);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dish-item-counter img {
  width: 22px;
  cursor: pointer;
}

.dish-item-counter p {
  margin: 0;
  font-weight: 600;
}
