/* Menu css classes */

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 16px;
  cursor: pointer;
  border-bottom-style: inset;

  padding-left: unset !important;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
}

/* title and desc */
.menu-header {
  /* text-align: center; */
  margin-bottom: 32px;
  max-width: 600px;
  /* margin-left: 22px; */
}

.menu-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 22px;
}

.menu-desc {
  font-size: 15px;
  line-height: 1.6;
  margin-left: 22px;
}
/* title and desc */

.image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

/* this class sets the css or red border when menu is selected */
.image-wrapper.selected {
  border: 3px solid var(--primary);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .menu-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    padding: 16px 12px;
  }

  .image-wrapper {
    width: 80px;
    height: 80px;
  }

  .item-name {
    font-size: 13px;
  }

  .menu-header {
    margin-bottom: 24px;
    /* margin-left: 20px; */
  }
}

@media screen and (max-width: 480px) {
  .menu-container {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 12px;
    padding: 12px 8px;
  }

  .image-wrapper {
    width: 60px;
    height: 60px;
  }

  .item-name {
    font-size: 12px;
  }

  /* title and desc */
  .menu-title {
    font-size: 16px;
  }

  .menu-desc {
    font-size: 14px;
  }
}
