.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 250px); /* controls height */
  gap: 16px;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Grid item */
.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #000;
}

/* Image always stays inside div */
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.grid-item:hover img {
  transform: scale(1.05);
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  padding: 30px;
  bottom: 0px;
  left: 0px;
  right: 16px;
  color: var(--secondary);
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
}

.overlay p {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 500;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.overlay .smallpara {
  font-size: 16px;
}

.overlay button {
  padding: 6px 14px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.grid-item.large {
  grid-row: span 2;
}

.grid-item.small {
  height: 250px;
}

/* left two image on mobile device */
.small-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 0 16px;
  }

  .grid-item {
    height: 200px;
  }

  .grid-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
    z-index: 1;
  }

  .grid-item.large,
  .grid-item.small {
    grid-row: auto;
    height: 250px;
  }

  .overlay p {
    font-size: 16px;
  }

  /* Make the two small items two columns */
  .small-grid {
    display: grid;
    /* 2 columns */
    grid-template-columns: repeat(2, 1fr);
    /* 1 row */
    grid-template-rows: 1fr;
    gap: 12px;
  }

  .overlay .smallpara {
    font-size: 10px;
  }

  /* .overlay button {
    /* width: 100%; */
  */ .grid-item.small {
    height: 160px;
  }
}
