/* css for Mobile Download section */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  transition: bottom 0.3s ease;
  z-index: 998;
}

/* Move up when bottom bar appears */
.whatsapp-float.move-up {
  bottom: 100px;
}
