.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;

  border: 1px solid black;
}

.main-container > * {
  width: 100%;
  max-width: 1200px;
}

.main-container .whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
