@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #ed2027;
  --secondary: #f5f5f5;
  --orange: #ed2027;
  --hover: #18324d;
  --primary-gradient: linear-gradient(90deg, #ed2027, #ff4b2b);
  --shadow: 0px 23px 21px -8px rgba(136);
  --gray: #424242;
  --yellow: #ffc107;
}

/* utility class */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* padding between div */
.standard-padding {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* utility class */

@media screen and (max-width: 900px) {
  .standard-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .menu-header {
    margin-left: unset;
  }
}

@media screen and (max-width: 480px) {
  .standard-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu-header {
    margin-left: unset;
  }

  .menu-title {
    margin-left: unset;
  }
}
