.mobile-download {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(90deg, #ff4b2b, #8e2de2);
  color: var(--secondary);
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobile-download .heading {
  font-size: 2.2rem;
  /* margin-bottom: 30px; */
}

.mobile-download .subheading {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.download-images {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.download-images img {
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}

.download-images img:hover {
  transform: scale(1.05);
}

/* Responsive styles */
@media (max-width: 768px) {
  .app-download .heading {
    font-size: 1.8rem;
  }

  .app-download .subheading {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .download-images img {
    height: 50px;
  }

  .download-images {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .app-download .heading {
    font-size: 1.5rem;
  }

  .app-download .subheading {
    font-size: 0.95rem;
    margin-bottom: 25px;
  }

  .download-images img {
    height: 45px;
  }

  .download-images {
    flex-direction: column;
    gap: 15px;
  }
}
